@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {-webkit-font-smoothing: antialiased;}
body {
  font-family: 'Montserrat', sans-serif;

}
.fadein{
margin:0;
  text-align: center;
  margin-bottom: 0;
  line-height: 0px;
}
.textfade{
  	opacity: 0;
    margin:0;
    margin-bottom: 0;
  	animation: fadeIn 1.5s ease-in both;
}
.largertext{
  color: #B7B7A4;
  font-size: 100px;
  font-weight: 100;
  margin-top: 300px;
  margin-bottom: 0;
}
.smallertext{
  color:#EDDCD2;
  padding:0;
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  vertical-align: top;

}

@keyframes fadeIn {
	from {
    transform:translateY(-20%);
		opacity: 0;
	}
	to {
		opacity: 1;
    transform:translateY(0);

	}
}
